<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Recipes</h1>
    <a href="/recipes/new">Add Recipe</a>

    <ul>
      <% recipes.forEach(recipe => { %>
        <li>
            <%= recipe.name %> by <%= recipe.owner.username %>
            <a href="/recipes/<%= recipe._id %>">View Recipe</a>
        </li>
        <% }) %>
    </ul>
  </body>
</html>
